# A base template for VM creation
# 
api_version: '3.0'
metadata:
  kind: vm
spec:
  cluster_reference:
    kind: cluster
    uuid: {{ cluster_uuid }}
  name: {{ vm.vm_name }}
  resources:
    disk_list:
    - data_source_reference:
        kind: image
        uuid: {{ vm.image_uuid }}
    - device_properties:
        disk_address:
          adapter_type: "IDE"
          device_index: 0
        device_type: "CDROM"
{% if vm.disk_list_mib %}
{% for disk in vm.disk_list_mib.split('-') %}
    - device_properties:
        device_type: "DISK"
      disk_size_mib: {{ disk }}
{% endfor %}
{% endif %}
    memory_size_mib: {{ vm.memory_mib }}
    boot_config:
      boot_type: "{{ boot_type }}"
    nic_list:
    - ip_endpoint_list:
      - ip: {{ vm.ip }}
      subnet_reference:
        kind: subnet
        uuid: {{ vm.subnet_uuid }}
    num_sockets: {{ vm.num_vcpu }}
    num_vcpus_per_socket: 1 
    power_state: 'ON'